<div class="container-fluid">
    <div id="menu">
        
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#"><i class="fa fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nouveau</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a [routerLink]="[{outlets: {adminOutlet: 'adens' }} ]">Un Enseignant</a>
                    <a [routerLink]="[{outlets: {adminOutlet: 'salle' }} ]">Une Classe</a>
                  </div>
                </li>

                
                <li><a [routerLink]="[{outlets: {adminOutlet: 'admatiere' }} ]">Adm_Matieres</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'adcompo' }} ]">Adm_Compositions</a></li>
                 
                <li class="nav-item dropdown">
                  <a class="" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulletins</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a [routerLink]="[{outlets: {adminOutlet: 'bulletin' }} ]">Nouveau Bulletin</a>
                    <a [routerLink]="[{outlets: {adminOutlet: 'listbulletin' }} ]">Tous Les Bulletin</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publier</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a (click)="setPubTypeT()" [routerLink]="[{outlets: {adminOutlet: 'publication' }} ]">Du Texte</a>
                    <a (click)="setPubTypeP()" [routerLink]="[{outlets: {adminOutlet: 'publication' }} ]">Une Photo</a>
                  </div>
                </li>

                
                
                
                

                <li class="nav-item dropdown">
                  <a class="" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuration</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a [routerLink]="[{outlets: {adminOutlet: 'matcp' }} ]">Matiere Compos</a>
                    <a [routerLink]="[{outlets: {adminOutlet: 'principale' }} ]">Prof Principale</a>
                    
                  </div>
                </li>

              </ul>
              
            </div>
            <button class="btn btn-sm btn-primary" (click)="gosuperadmin()">Super Admin</button>
            <button class="btn btn-sm btn-danger" (click)="logOut()">Deconnecter</button>

          </nav>

    </div>

  

    <div class="col-lg-12 vue">
        <router-outlet name="adminOutlet"></router-outlet>
    </div>
    <app-footer></app-footer>
</div>


    