<div class="container-fluid">
    <div id="menu">
        
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#"><i class="fa fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="active"><a [routerLink]="[{outlets: {adminOutlet: 'adens' }} ]">Adm_Enseignants</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'admatiere' }} ]">Adm_Matieres</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'adcompo' }} ]">Adm_Compositions</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'bulletin' }} ]">New_Bulletin</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'principale' }} ]">Adm_Principales</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'matcp' }} ]">Con_Matiere</a></li>
                <li><a [routerLink]="[{outlets: {adminOutlet: 'listbulletin' }} ]">All_Bulletin</a></li>

              </ul>
              
            </div>
            <button class="btn btn-sm btn-primary" (click)="gosuperadmin()">Super Admin</button>
            <button class="btn btn-sm btn-danger" (click)="logOut()">Deconnecter</button>

          </nav>

    </div>

  

    <div class="col-lg-12 vue">
        <router-outlet name="adminOutlet"></router-outlet>
    </div>
    <app-footer></app-footer>
</div>


    