
      <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
         <div class="menu">
           <h5>Menu Page</h5>
           <hr>

           <p class="chapitre">Program / Matieres <span class="pull-right"><i class="fa fa-book"></i></span> </p>
           <div class="point" *ngFor="let elt of listesClasses">
             <a  [routerLink]="[{outlets: {contentOutlet: 'matiere' }} ]" data-name="{{elt.nom}}" (click)="sendName(elt.nom)"><h5>{{elt.nom}}</h5></a>
             
           </div>

           <p class="chapitre"> Chapitre 2 <span class="pull-right"><i class="fa fa-car"></i></span></p>
           <div class="point" style="display: none;">
             <a href="#">Point 1</a>
             <a href="#">Point 2</a>
             <a href="#">Point 3</a>
           </div>

           <p class="chapitre"> Chapitre 3 <span class="pull-right"><i class="fa fa-book"></i></span></p>
           <div class="point" style="display: none;">
             <a href="#">Point 1</a>
             <a href="#">Point 2</a>
             <a href="#">Point 3</a>
           </div>

           <p class="chapitre"> Chapitre 4 <span class="pull-right"><i class="fa fa-play"></i></span></p>
           <div class="point" style="display: none;">
             <a href="#">Point 1</a>
             <a href="#">Point 2</a>
             <a href="#">Point 3</a>
           </div>

         </div>
      </div>
      
    
