<div class="container">
    <div class="row" id="header">
        <div>
            <h3>Publications Du Lycee .</h3>
        </div>
    </div>
</div>

<div class="container">
    <div id="block">

        <div class="publication" *ngFor="let pers of pubs">
            <div class="publication-header">
                <div class="publication-header-img">
                    <img [src]="convertImage(pers.enseignant.photo)">
                </div>
                <div class="title">
                    <h4>{{pers.enseignant.nom}}</h4>
                    <h6>{{pers.datepub | date:'dd-MM-yy à h:mm:ss E'}}</h6>
                </div>
               
            </div>
            <div class="pub-comm">
                <p>{{pers.commentaire}}</p>
             </div>

            <div class="publication-body" *ngIf="pers.type==0">
                <img [src]="convertImage(pers.photo)">
            </div>
            <div class="publication-footer">
                
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary"><span>23</span><i class="fa fa-thumbs-o-up"></i></button>
                      <button type="button" class="btn btn-sm btn-outline-danger"><span>23</span><i class="fa fa-thumbs-o-down"></i></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><span>23</span><i class="fa fa-wechat"></i></button>
                      <button type="button" class="btn btn-sm btn-outline-success"><span>23</span><i class="fa fa-heart-o"></i></button>           
                      <button type="button" class="btn btn-sm btn-outline-dark"><span>23</span><i class="fa fa-share"></i></button>
                    </div>
                    
                  </div>
            </div>
        </div>

    </div>
</div>

