<div class="container">
    <div class="row" id="header">
        <div>
            <h3>Liste Des Enseignants Du Lycee </h3>
        </div>
    </div>

    <div class="media text-muted pt-3" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
        <div>
            <img src="../../../assets/images/joel.jpg" width="60px" height="60px" alt="" class="mr-2 rounded">
        </div>
        
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">#username  @emailuser</strong>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
  </div>
      

     
    

</div>