<div class="container">
    <div class="row" id="header">
        <div>
            <h3>Liste Des Enseignants Du Lycee </h3>
        </div>
    </div>

    <div class="media text-muted pt-3" *ngFor="let i of enseignants">
        <div>
            <img [src]="convertImage(i.photo)" width="60px" height="60px" alt="" class="mr-2 rounded">
        </div>
        
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">#Nom: {{i.nom}}  @Email: {{i.email}}</strong>
           PROFESSEUR DE : {{i.matiere}}
        </p>
  </div>
      

     
    

</div>