
<div class="container">
    <div class="row">
        <div class="col-lg-8">
           <div class="row">
               
            <div *ngFor="let pers of enseignants" class="col-lg-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" [src]="convertImage(pers.photo)" width="100px" height="120px" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">
                        <strong>Name:</strong> <label>{{pers.nom}}</label><br>
                        <strong>Telephone:</strong> <label>{{pers.tel}}</label><br>
                        <strong>Email:</strong> <label> {{pers.email}}</label>
                        <strong>Matiere:</strong> <label> {{pers.matiere}}</label>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary"><span>23</span><i class="fa fa-thumbs-o-up"></i></button>
                        <button type="button" class="btn btn-sm btn-danger"><span>23</span><i class="fa fa-thumbs-o-down"></i></button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>


        </div>
        <div class="col-lg-4">
            <div id="tete">
                
            </div>
            <div id="form">
                <p> New Teacher</p>
               
                <form>                
                        <div class="form-group">
                            
                            <input placeholder="Votre Nom" class="form-control" type="text" name="nom" [(ngModel)]="nom">
                        </div>

                        <div class="form-group">
                            
                            <input placeholder="Votre Mail" class="form-control" type="email" name="email" [(ngModel)]="email">
                        </div>

                        <div class="form-group">
                            
                            <input placeholder="Phone Number" type="number" class="form-control" name="tel" [(ngModel)]="tel">
                        </div>

                        <div class="form-group">
                            <input type="file" name="photo" [(ngModel)]="photo" class="form-control" (change)="onFileChanged($event)">
                            
                        </div>
                        <div class="form-group">
                            <label>Choisr Votre Matiere</label>
                            <select class="form-control" name="matiere" ngModel [(ngModel)]="matiere">
                                <option value="">Choisir Matiere Enseigner</option>
                                <option *ngFor ="let mat of matieres">{{mat}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" [disabled]="(!matiere)||(!nom)||(!tel)||(!email)||(!photo)" (click)="Enregistrer()"  value="upload">SAVE</button>
                            <button class="btn btn-danger">CANCEL</button>
                        </div>
                        <hr/>
                
                        

                    
                    
                </form>
            </div>
           
            <app-share></app-share>
        </div>
    </div>
</div>

